{
    email bernard.crnkovic@fer.hr
    http_port 80
    https_port 443
}

127.0.0.1 {
    handle_path /api* {
        reverse_proxy localhost:8080 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    route {
        reverse_proxy http://localhost:3000
    }
}
